html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;

}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.interruptor {
  width: 450px;
  height: auto;
  cursor: pointer; 
}

.luz {
  background-color: #f1c40f;
}

.breu {
  background-color: #1a1a1a;
}